POSTGRES_USER=brasileirao
POSTGRES_PASSWORD=
POSTGRES_DB=brasileirao_db
POSTGRES_PORT=5434
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__FERNET_KEY=
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW__WEBSERVER__SECRET_KEY=
AIRFLOW_UID=50000
PGADMIN_EMAIL=admin@brasileirao.com
PGADMIN_PASSWORD=
PGADMIN_PORT=5050
