POSTGRES_USER=brasileirao
POSTGRES_PASSWORD=brasileirao123
POSTGRES_DB=brasileirao_db
POSTGRES_PORT=5432
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW_UID=50000
PGADMIN_EMAIL=admin@brasileirao.com
PGADMIN_PASSWORD=admin123
PGADMIN_PORT=5050
